<section class="content-header">
  <h1>
    Desafío Tecnología Área de Desarrollo
    <small>Cumplo.cl</small>
  </h1>
</section>

<br>
<br>

<script type="text/javascript">
  $(function() {
    $('#rango').daterangepicker();
  });
</script>

<!-- Promedio, maximo y minimo-->
<div class="row">
  <div class="col-md-2 col-sm-12 col-xs-12">
    <div class="box box-primary">
      <div class="box-body">
        <%= form_with scope: :dashboard, method: :get, local: true do |form| %>
        <!-- Date range -->
        <div class="form-group">
          <label>Seleccione Rango a Consultar:</label>

          <div class="input-group">
            <div class="input-group-addon">
              <i class="fa fa-calendar"></i>
            </div>
            <input type="text" class="form-control " id="rango" name="rango" value="<%=@rango%>">
          </div>
          <!-- /.form group -->
          <%= form.submit "Obtener", :class => 'btn btn-success  btn-flat col-md-12'%>
          <% end %>
        </div>
        <!-- /.box-body -->
      </div>
    </div>
  </div>

  <div class="col-md-5 col-sm-6 col-xs-12">
    <div class="info-box">
      <span class="info-box-icon bg-aqua">UF</span>

      <div class="info-box-content">
        <div class="row">
          <div class="col-md-4 col-sm-4 col-xs-12">
            <span class="info-box-text">Valor Promedio</span>
            <span class="info-box-number"><%=number_to_currency(@ufs_avg)%></span>
          </div>

          <div class="col-md-3 col-sm-4 col-xs-12">
            <span class="info-box-text">Valor Máximo</span>
            <span class="info-box-number"><%=number_to_currency(@ufs_max)%><br><small><%= l(@ufs_date_max, :format => '%d/%m/%Y') %></small></span>
          </div>

          <div class="col-md-3 col-sm-4 col-xs-12">
            <span class="info-box-text">Valor Mínimo</span>
            <span class="info-box-number"><%=number_to_currency(@ufs_min)%><br><small><%= l(@ufs_date_min, :format => '%d/%m/%Y') %></small></span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-5 col-sm-6 col-xs-12">
    <div class="info-box">
      <span class="info-box-icon bg-green">USD</span>

      <div class="info-box-content">
        <div class="row">
          <div class="col-md-4 col-sm-4 col-xs-12">
            <span class="info-box-text">Valor Promedio</span>
            <span class="info-box-number"><%=number_to_currency(@dolars_avg)%></span>
          </div>

          <div class="col-md-3 col-sm-4 col-xs-12">
            <span class="info-box-text">Valor Máximo</span>
            <span class="info-box-number"><%=number_to_currency(@dolars_max)%><br><small><%= l(@dolars_date_max, :format => '%d/%m/%Y') %></small></span>
          </div>
          
          <div class="col-md-3 col-sm-4 col-xs-12">
            <span class="info-box-text">Valor Mínimo</span>
            <span class="info-box-number"><%=number_to_currency(@dolars_min)%><br><small><%= l(@dolars_date_min, :format => '%d/%m/%Y') %></small></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Graficos -->
<div class="row">
  <div class="col-md-6">
  <div class="box">
      <div class="box-header with-border">
        <h3 class="box-title">Valores UF por día</h3>
      </div>
      <div class="box-body">
        <div class="chart">
    <canvas id="chart-uf" style="height: 250px; width: 400px;" width="400" height="250"></canvas>
    <script>
      var ctx = document.getElementById("chart-uf");
      var myChart = new Chart(ctx, {
        type: 'line',
        options: {
          maintainAspectRatio: false,
          legend: {display:false}
        },
        data: {
          labels: [<% @ufs.each do |uf| %>
          "<%= l(uf.fecha, :format => '%d/%m/%Y') %>",
          <% end %>],
          datasets: [{
            label: "Valor UF",
            backgroundColor: 'rgb(0, 192, 239)',
            data: [<% @ufs.each do |uf| %>
            "<%= uf.valor %>",
            <% end %>],
          }]
        }
      });
    </script>
  </div>
  </div>
  </div>
  </div>
  <div class="col-md-6">
  <div class="box">
      <div class="box-header with-border">
        <h3 class="box-title">Valores Dolar por día</h3>
      </div>
      <div class="box-body">
        <div class="chart">
    <canvas id="chart-dolar" style="height: 250px; width: 400px;" width="400" height="250"></canvas>
    <script>
      var ctx = document.getElementById("chart-dolar");
      var myChart = new Chart(ctx, {
        type: 'line',
        options: {
          maintainAspectRatio: false,
          legend: {display:false}
        },
        data: {
          labels: [<% @dolars.each do |d| %>
          "<%= l(d.fecha, :format => '%d/%m/%Y') %>",
          <% end %>],
          datasets: [{
            label: "Valor Dolar",
            backgroundColor: 'rgb(0, 166, 90)',
            data: [<% @dolars.each do |d| %>
            "<%= d.valor %>",
            <% end %>],
          }]
        }
      });
    </script>
  </div>
  </div>
  </div>
  </div>
</div>

<div class="row">
  <% @tmcs_tipo.each do |t, t2| %>
  <div class="col-md-2">
    <div class="box" style="min-height: 340px;">
      <div class="box-header with-border">
        <h3 class="box-title"><%= t2[0].titulo %><br><small><%= t2[0].subtitulo %></small></h3>
      </div>
      <div class="box-body">
        <div class="chart">
          <canvas id="chart-tmcs<%=t[0]%>"  style="height: 200px; width: 150px;" width="150" height="200"></canvas>

          <script>
            var ctx = document.getElementById("chart-tmcs<%=t[0]%>");
            var myChart = new Chart(ctx, {
              type: 'line',
              options: {
                maintainAspectRatio: false,
                legend: {display:false}
              },
              data: {
                labels: [
                <% t2.each do |t3| %>
                "<%= l(t3.fecha, :format => '%d/%m/%Y') %>",
                <% end %>
                ],
                datasets: [
                {
                  label: "<%= t2[0].titulo %>",
                  data: [<% t2.each do |t3| %>
                  "<%= t3.valor %>",
                  <% end %>],

                },
                ]
              }
            });
          </script>
        </div>
      </div>
    </div>
  </div>
  <% end %>
</div>

<!-- listado de valores -->
<div class="row">
  <div class="col-md-4">
    <div class="box">
      <div class="box-header">
        <h3 class="box-title">UF</h3>
      </div>
      <div class="box-body table-responsive no-padding">
        <table class="table table-hover">
          <tbody>
            <tr>
              <th>Fecha</th>
              <th>Valor</th>
            </tr>
            <% @ufs.each do |uf| %>
            <tr>
              <td><%= l(uf.fecha, :format => '%d/%m/%Y') %></td>
              <td><%= number_to_currency(uf.valor) %></td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="box">
      <div class="box-header">
        <h3 class="box-title">Dolar</h3>
      </div>
      <div class="box-body table-responsive no-padding">
        <table class="table table-hover">
          <tbody>
            <tr>
              <th>Fecha</th>
              <th>Valor</th>
            </tr>
            <% @dolars.each do |d| %>
            <tr>
              <td><%= l(d.fecha, :format => '%d/%m/%Y') %></td>
              <td><%= number_to_currency(d.valor) %></td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="box">
      <div class="box-header">
        <h3 class="box-title">TMC por Tipo</h3>
      </div>
      <div class="box-body table-responsive no-padding">
        <table class="table table-hover">
          <tbody>
            <tr>
              <th></th>
              <th></th>
              <th>Fecha</th>
              <th>Valor</th>
            </tr>
            <% @tmcs_tipo.each do |t, t2| %>
            <tr>
              <td colspan="4"><b><%=t2[0].titulo%></b></td>
            </tr>
            <% t2.each do |t3| %>
            <tr>
              <td></td>
              <td><%=t3.subtitulo%></td>
              <td><%= l(t3.fecha, :format => '%d/%m/%Y') %></td>
              <td><%= number_to_percentage(t3.valor, precision: 2) %></td>
            </tr>
            <% end %>
            <% end %>
          </tbody></table>
        </div>
      </div>
    </div>
  </div>