<h1>Dolar - Leyendo de API SBIF</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Valor</th>
      <th>Fecha</th>
    </tr>
  </thead>

  <tbody>
    <% @dolars['Dolares'].each do |dolar| %>
      <tr>
        <td><%= dolar['Valor'] %></td>
        <td><%= dolar['Fecha'] %></td>
      </tr>
    <% end %>
  </tbody>
</table>