<h1>UF - Leyendo de API SBIF</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Valor</th>
      <th>Fecha</th>
    </tr>
  </thead>

  <tbody>
    <% @ufs['UFs'].each do |u| %>
      <tr>
        <td><%= u['Valor'] %></td>
        <td><%= u['Fecha'] %></td>
      </tr>
    <% end %>
  </tbody>
</table>