<h1>TMC - Leyendo de API SBIF</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Titulo</th>
      <th>SubTitulo</th>
      <th>Tipo</th>
      <th>Valor</th>
      <th>Fecha</th>
    </tr>
  </thead>

  <tbody>
    <% @tmcs['TMCs'].each do |t| %>
      <tr>
        <td><%= t['Titulo'] %></td>
        <td><%= t['SubTitulo'] %></td>
        <td><%= t['Tipo'] %></td>
        <td><%= t['Valor'] %></td>
        <td><%= t['Fecha'] %></td>
      </tr>
    <% end %>
  </tbody>
</table>