<!DOCTYPE html>
<html>
<head>
  <title>Cumplo</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>
  <%= stylesheet_link_tag href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" %>
  <%= stylesheet_link_tag href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" %>
  <%= javascript_include_tag href="//cdn.jsdelivr.net/momentjs/latest/moment.min.js" %>
  <%= javascript_include_tag href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js" %>
  <%= javascript_include_tag href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.js" %>
  
</head>
<body class="fixed skin-green-light sidebar-collapse">
  <div class="wrapper">
    <%= render 'layouts/navigation/layout'%>
    <div class="content-wrapper">
      <%= yield %>
    </div>
    <%= render 'layouts/navigation/footer' %>
  </div>
</body>
</html>