
<footer class="main-footer">
  <div class="pull-right hidden-xs">
    thmaureira@gmail.com
  </div>
  <strong>
    Desarrollado por Thomas Maureira © 2018
    <a href="#"> Cumplo.cl</a>
  </strong>
</footer>