<header class="main-header">
  <a class="logo" href="/">
    <img src="https://secure-cdn.cumplo.cl/assets/cumplo2017/logo-cumplo-b-df67922a93fa73b0405f2552b5341e61.svg">
  </a>
  <nav class="navbar navbar-static-top" role="navigation">
    <div class="navbar-custom-menu">
      <ul class="nav navbar-nav">
      </ul>
    </div>
  </nav>
</header>